
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Posicion', 'Numero'],
          ['A Favor',     11],
          ['En Contra',      14],
        ]);

        var options = {
          title: 'Que opinas sobre la Ley de Herencia?'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  
    
  

<div class="hero-unit">
  <div class="container">
    <h1><div id="piechart" style="width: 100%;"></div></h1>
    <p class="lead">
    	Encuestados ###### <br>
      Que camino tomaremos? 
      <% if !current_user %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success' %>
        <span class='fa fa-check'></span></a>
      <% end %>
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="selling-points row">
    <div class="point col-md-4">
      <h2>User Registration & Login</h2>
      <p>
        This app is configured to use Devise for User Registration & Login
      </p>
    </div>
    <div class="point col-md-4">
      <h2>BootStrap & FontAwesome</h2>
      <p>
        Includes Bootstrap-sass & FontAwesome-rails gems for formatting your views
      </p>
    </div>
    <div class="point col-md-4">
      <h2>Facebook Login</h2>
      <p>
        Uses OmniAuth & Devise gems for Facebook login.
      </p>
    </div>
  </div>
</div>
