@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  font-weight: 700;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#show-user {
  margin-top: 15px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$btnText:                           #fff;
$btnTextAlt:                        #000;

// welcome views
.welcome {
  .hero-unit {
    position: relative;
    width: 100%;
    padding: 100px;
    background: image-url('landing-bg.jpg') no-repeat center/cover;
    h1, .lead {
      margin: 0;
      padding: 30px;
      background: rgba(white, .7);
    }
    h1 {
      font: 700 9.9vw 'Montserrat';
      border-bottom: 2px solid black;
    }
    a {
      margin-top: 10px;
    }
  }
  .selling-points {
    margin: 30px 0;
    .point {
      h2, p {
        text-align: center;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .not-registered {
    margin-top: 30px;
  }
  .btn-success {
    margin-left: 20px;
  }
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
