<footer class="footer">
	<a href="http://www.eluniverso.com/sites/default/files/archivos/2015/06/rd_215732correa_215732_304958.pdf">Conozca el proyecto de ley para el impuesto a las herencias en Ecuador</a></a>
	<li><%= link_to "Privacy Policy", privacypolicy_path %></li>
  <div class="container">
    <p>&copy; 2015 Maximilian Evans, all rights reserved.</p>
  </div>
</footer>
