<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">

      <%= link_to "De-Cabo-A-Rabo", root_path, class: 'navbar-brand' %>

      <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    </div>
   
      <ul class="navbar-right">
        <% if !current_user %>
     
          <%= link_to "Votar", user_session_path,  class: 'btn btn-lg btn-success'  %>
        <% else %>
          <li id='show-user'><em>Conectado como <%= current_user.email %></em></li>
    
        <% end %>
      </ul>
    
  </div>
</div>
