<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">

      <%= link_to "Encuesta Social Ecuador", root_path, class: 'navbar-brand' %>

      <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    </div>
   
      <ul class="navbar-right">
        <% if !current_user %>
     
          <%= link_to "Votar", user_session_path,  class: 'btn btn-lg btn-success'  %>
        <% else %>
          <li id='show-user'><em><%= current_user.email %></em> - <%= link_to "Desconectar de Facebook", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
    
        <% end %>
      </ul>
    
  </div>
</div>
